nav {
 font-family: Georgia;
  font-size: 15px;
  margin-right: 40px;
  color: #000;
  font-weight: 100px;
  border-style: solid;
  margin: 50px;
  Padding: 10px;
  text-align: center;
  Background-color: rgb(153,102,51)
    
}
