nav {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-family: Georgia;
      font-size: 15px;
      color: #000;
      font-weight: 100;
      text-align: center;
      padding: 10px;
    }
  p {
    text-align: right;
    text-align-last: center;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.6;
  }
    .tarjeta a {
    color: blue;
    text-decoration: underline;
      font-weight: bold;
      font-size: 1.1em;
    }
